<!DOCTYPE html>
<html>
<head>
  <title>Look at alllll of dem bathrooms!</title>
  <!-- insert list of bathrooms here -->
  <p><h2> LIST OF BATHROOMS HERE </h2></p>

<!--   <% @bathrooms.each do |bathroom| %>
    <tr>
      <%= render bathroom %>
    </tr>
  <% end %>
 --> 
 
</head>
<body>

<%= yield %>

</body>
</html>