<h1>Rate My CRUD</h1>

<p>
	<%= link_to 'Users:' %> <%= User.count %> registered 
</p>
<% if current_user = nil %>
	<p> YOU WANNA RATE SOME SHIT? </p>
	<%= button_to "WHY YES YOU DO", :class => "buttom medium", :method =>"patch" %>
	<P> NEEDA LOG YO ASS IN FIRST? <p>
	<%= button_to "WHY YES YOU DO" %>
<%end%>
